[Desktop Entry]
Type=Service
Name=Valve Texture Format
X-KDE-ServiceTypes=ThumbCreator
X-KDE-Library=vtfthumbcreator
MimeType=image/x-vtf;
CacheThumbnail=true
ThumbnailerVersion=2
